/*font-family: 'Open Sans', sans-serif; */
/*font-family: 'Alegreya', serif; */



.container {
  display: grid;   
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 5% 20% auto 100px;
  grid-template-areas:
  "logo" "navtext" "tools"
  "hero" "hero-text" "ad"
  "article-feature" "article" "sidebar"
  "footer" "footer" "footer"
}
.header {
  width: 100%;
  background-color: white; 
  grid-area: header;

}

.logo img {
  width: 150px;
  height:
  grid-area: logo;
  justify-content: center;
}


.navtext {
  display: inline; 
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color:  rgb(53, 49, 49);
  margin: 10px;
  padding: 20px;
  grid-area: navtext;
  justify-content: center;
}

.navtext:hover {
  color: green;
  text-decoration: none;
  
}


.search {
  width: 300px;
  position: relative;
  display: flex;
  grid-area: tools;
}

.searchTerm {
  width: 100%;
  border: 3px solid green;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: green;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid green;
  background: green;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}

.hero img{
  background-position: center;
  background-size: cover;
  position: relative;
  grid-area: hero;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  grid-area: hero-text;
}
.ad img {
grid-area: ad;
}



.article-feature img {

    grid-area: article-feature;
}



.article {
  font-family: 'Alegreya', serif;
  font-size: 20px;
  grid-area: article;
}

.sidebar img{
  width: auto;
  grid-area: sidebar;
}



.footer {
  background-color: lightgreen;
  font-family: 'Alegreya', serif;
  font-size: 20px;
  text-align: center;
  grid-area: footer;
}

