/*font-family: 'Open Sans', sans-serif; */
/*font-family: 'Alegreya', serif; */

.header{
  grid-area: header;
 /* font-family: 'Open Sans', sans-serif;
 text-transform: uppercase;
 font-size: 20px; */
}

.header img {
  float: left;
  width: 135px;
  height: 100px;
  }


ul {
  text-align: center;
  margin: auto;
  padding: 35px;
  overflow: hidden;
}

li {
  display: inline;
  text-align: center;
  padding: 5px;
}
li a {
  color: rgb(26, 49, 26);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

 li a:hover { 
  color: rgb(108, 134, 108);
}
.dropbtn {
 
  background-color: rgb(108, 134, 108);
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


.articleImage{
  grid-area: articleImage;
   background-image: url(img/iceland4.jpg);
   background-size:     cover;                      
   background-repeat:   no-repeat;
   background-position: center center;
   display: flex;
}
 
.ads{
  grid-area: ads;
  background-image: url(img/ady.JPG);
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
  display: flex;
}

.sidebar {
    grid-area: sidebar;
    margin: 10px;
    color: rgb(108, 134, 108);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.sidebar h1 {
  font-size: 22px;
  color: rgb(20, 56, 20); 
}

.sidebar button {
  background-color: rgb(108, 134, 108);
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
 
 .hero{
  grid-area: hero;
  background-image: url(img/iceland1.jpg);
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  padding: 50px;
  align-items: center;
  
}

.hero a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
  text-shadow: 0 0 4px #fff;
  font-size: 30px;
}

 
.articleListing{
  grid-area: articleListing;
  font-family: 'Alegreya', serif;
 /* font-style: italic; */
 display: flex;
 justify-content: center;
 
}

.tools {
  grid-area: tools; 
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.footer{
  grid-area: footer;
  background-color: rgb(108, 134, 108);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
 display: grid;
 height: 100vh;
 grid-template-columns: 2fr 3fr 3fr 2fr;
 grid-template-rows: 1fr 2fr 3fr 1fr;
 grid-template-areas:
 "header header header tools"
 "hero hero hero ads"
 "articleImage articleListing articleListing sidebar"
 "footer footer footer footer";
 grid-gap: 5px;
}


@media (max-width: 992px) {
 .wrapper { 
   width: 100%;
  grid-gap: 5px;
   grid-template-columns: 1fr 2fr 1fr;
 grid-template-rows: 1fr 2fr 2fr 4fr 2fr 1fr;
 grid-template-areas:
 "header header tools "
 "hero hero hero"
 "articleImage articleImage ads"
 "articleListing articleListing articleListing"
 "sidebar sidebar sidebar"
 "footer footer footer ";

}
}


@media (max-width: 576px) {
 .wrapper { 
   width: 100%;
  grid-gap: 5px;  
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 3fr 2fr 1fr ; 
  grid-template-columns: 1fr;
   grid-template-areas: 
     "header"
     "tools"
     "hero"
     "articleImage"
     "ads"
     "articleListing"
     "sidebar"
     "footer";
 
}
}
